.main-div {
    height: 100%;
}
h1 {
    font-family:'Century Gothic', sans-serif;
    font-size: 40px;    
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(252, 251, 222);    
}
