<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>

        <img src="../../../assets/other/Profile_Pic01.jpeg">
    
        <p>"Life is the quest to overcome the fear of the unknown, its the most inspirational and most artistic adventure Ive ever embarked on. Ive been molded by its multitude of experiences, expressed it in my artwork, and left yearning for more." - Samuel Sovago-Royal</p>
    </div>
    
    
</body>
</html>