div {           
    background-color: rgb(252, 251, 222);      
 }
 
 img {
     width: 450px;          
     margin-left: 723px; 
     border: 5px solid black;
 }
 p {
     font-family:'Century Gothic', sans-serif;
     background-color: rgb(252, 251, 222);
     margin-left: 723px;
     width: 450px;    
 }