<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>

        <img src="../../../assets/other/Profile_Pic02.jpeg">

        <p>I was born in the United States and spent most of my childhood with my family abroad in Europe and the Middle East. I discovered that I had Dyslexia and ADD during this time.  With the different cultures, languages, and religious experiences in my daily childhood life, I was able to expand my perception of the world.  Faced with the additional challenges of Dyslexia and ADD, with hard work I managed to graduate high school while also finding my talent in the Creative Art field. I returned to the United States, achieved an Associate degree in Fine Art, and then attended SCAD University and achieved a Bachelor’s Fine Arts degree in Animation.  After graduation, like many other millennial people, I had to persevere and carry on in order to materialize my own expectations and dreams; despite setbacks.</p>

        <p>To date, I have been featured in “On Media Signals and Connections” in Rome Italy (website LoosenArt.com) and am having his first solo exhibition in Lenore, North Carolina in July 2022.</p>

    </div>

</body>
</html>