form {
    font-family:'Century Gothic', sans-serif;
    background-color: rgb(252, 251, 222);
    padding: 10px;
    margin-left: 703px;
    width: 479px;   
}
#defaultContactFormName {
    width: 472px;
}

#defaultContactFormEmail {
    width: 472px;
}

textarea {
    width: 472px;
}

button {
    margin-left: 203px;
}
