h1 {
    font-family:'Century Gothic', sans-serif;
}

h2 {
    font-family:'Century Gothic', sans-serif;
}

p {
    font-family:'Century Gothic', sans-serif;
}

nav {
    font-family:'Century Gothic', sans-serif;
}

